body {
    background: #eeeeee;
    font-size: 12px;
}

#form1 {
    position: relative;
    top: 10px;
    color: crimson;
    text-align: center;
    font-size: 24px;
}

.btngroup1 {
    position: relative;
    text-align: center;
    top: 40px;
    width: 750px;
    display: table;
    margin: auto;
}
.funcbtn1-1 {
    display: table-cell;
    text-align: left;
}
.funcbtn1-2 {
    display: table-cell;
    width: 150px;
    text-align: right;
}
.funcbtn1-3 {
    display: table-cell;
    width: 150px;
    text-align: right;
}

.btngroup2 {
    position: relative;
    top: 50px;
    width: 750px;
    display: table;
    margin: auto;
}
.funcbtn2-1 {
    display: table-cell;
    text-align: left;
}
.funcbtn2-2 {
    display: table-cell;
    text-align: right;
}

#variable_tbl {
    position: relative;
    top: 0;
    margin: auto;
}

div#wrapper {
    position: relative;
    top: 50px;
    width: 700px;
    margin: 0 auto;
}

#totop {
    position: fixed;
    bottom:0px;
}
